.navbar-brand > .brand {
    max-height: 50px;
    max-width: 50px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #636b6f;
    background-color: white;
    position: relative;
}

.row-padding {
    margin: 0;
}

.messages-list {
    height: 65vh;
    overflow-y: scroll;
}

.messages-search-bar {
    width: 50%;
    margin: 15px auto;
}

@media screen and (max-width: 991px) {
    .messages-search-bar {
        width: 100%;
        margin: 15px 0;
    }
}

.month-title {
    font-weight: 700;
    text-align: center;
    margin: 0px auto;
}

#app{
    padding-top:82px;
}

#nav-shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
#navbar-brand-font {
    font-weight: 700;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
    box-sizing: border-box;
}
.navbar-default .navbar-brand {
    color: #ef3c5a;
}
.navbar-brand {
    float: left;
    padding: 28.5px 15px;
    font-size: 18px;
    line-height: 22px;
    height: 79px;
}
a {
    background-color: transparent;
    text-decoration: none;
}
#navigation{
    margin-top: 15px;
}
#navbar-brand-padding{
    padding:5px;
}
#navbar-brand-size{
    max-height:100px;
    max-width:100px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}
.navbar-collapse:after {
    clear: both;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-nav > li > a {
    padding-top: 28.5px;
    padding-bottom: 28.5px;
    line-height: 22px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.pull-right {
    float: right !important;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar {
    position: relative;
    min-height: 79px;
    margin-bottom: 22px;
    border: 1px solid transparent;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.navbar-nav > li {
    float: left;
}
.nav > li {
    position: relative;
    display: block;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.jumbotron{
    min-width:768 px;
    background-color:black;
    /* padding-top:48px;
    padding-bottom: 48px; */
    margin-bottom:30px;
    box-sizing: border-box;
}
#jumbotron-subheader{
    font-size:80px;
    font-weight: 700;
    color:white;
}
#jumbotron-header > * {
    /* padding-top:30px; */
    font-size:110px;
}
#jumbotron-header {
    /* padding-top:30px; */
    font-size:110px;
    font-family: "Averia Serif Libre", cursive
}
.jumbotron h1{
    color:#f4a71d;
    text-align: center;
    margin:0 0 0 0;
}
.jumbotron p{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    margin:0 0 11px;
    color: white;
    text-align: center;
}

#jumbotron-footer-header > * {
    font-weight:700;
}
.jumbotron-footer {
    background-color:black;
    /* margin-top:25px; */
    /* margin-bottom:50px; */
}
.jumbotron-footer:before, .jumbotron-footer:after {
    content: " ";
    display: table;
}
.jumbotron-footer:after {
    clear: both;
}
.thank-you-list-item{
    background-color: black;
    border-width: 0px;
}
/* .calendar{
  float:left;
  /* width: 100%;
  margin-left:25%; */
  /* display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
} */
.calendar:before, .calendar:after {
    content: " ";
    display: table;
}
.calendar:after {
    clear: both;
} */
.list-group-container > button {
    position: absolute;
    top: 32px;
    right: 0;
    margin-right: 15px;

}

.fc-day-grid-event {
    padding-top: 8px;
    padding-bottom: 8px
}

#footer {
    position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

footer {
    color: #444444;
    text-align: center;
    left: 25%;
    font: 14px Tahoma;
}
.footer:before, .footer:after {
    content: " ";
    display: table;
}
.footer:after {
    clear: both;
}

#footer a {
    text-decoration: none;
    color: #444444;
    text-shadow: none;
}

#footer a:hover {
    text-decoration: underline;
    color: #777777;
}

#footer #first{
    border-left: none;
}

#footer li {
    display: inline;
    padding: 0 10px;
    border-left: solid 1px #DDD;
}



/*
Admin Login CSS
*/
form {
    margin-left:25%;
    text-align: center;
    background-color:  rgb(0, 0, 0);
    width:50%;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
}
form > h2{
    font-family: 'Poppins', sans-serif;
    color:#f4a71d;
}
b{
    color:white;
}
#login {
    background-color: rgb(158, 158, 158);
    border:solid;
}
#ip2 {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px; 
    width: 50%;
    height: 15px;    
}

#bottom_login{
    margin-top:50px;
    background-color:#666;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*
Share Button CSS
*/
.btn-primary {
    color: #fff;
    background-color: #ef3c5a;
    border-color: #ed2446;
    border-radius: 12px;
}

/*
Login Buttons CSS
*/
button {
  border-radius: 12px;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
}